force-app/main/default/flows/Cultural_Competency_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Emails errors to salesforceteam@creedinteractive.com</description>
        <name>Email_Errors</name>
        <label>Email Errors</label>
        <locationX>602</locationX>
        <locationY>136</locationY>
        <actionName>FlowErrorHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messages</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Webapps_Callout</name>
        <label>Webapps Callout</label>
        <locationX>864</locationX>
        <locationY>437</locationY>
        <actionName>CulturalCompetencyCaseApprovedCallout</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_Case_Fields</name>
        <label>Update Case Fields</label>
        <locationX>380</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Attestation_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Attestation_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Attestation_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>658</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Webapps_Callout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has No Contact</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Already_Approved</name>
        <label>Is Case Already Approved?</label>
        <locationX>168</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Is Already Approved</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Attestation_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Fields</targetReference>
            </connector>
            <label>Is Not Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Cultural Competency Approval</interviewLabel>
    <label>Cultural Competency Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Already_Approved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Attestation_Approved__c</queriedFields>
        <queriedFields>Cultural_Awareness_Capability__c</queriedFields>
        <queriedFields>Cultural_Compliance_Capability__c</queriedFields>
        <queriedFields>Cultural_Safety_Capability__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Attestation_Approver__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>523</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Errors</targetReference>
        </faultConnector>
        <inputReference>caseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>864</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Webapps_Callout</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cultural_Awareness_Capability__c</field>
            <value>
                <elementReference>caseRecord.Cultural_Awareness_Capability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultural_Competency_Training_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultural_Competency_Training__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultural_Compliance_Capability__c</field>
            <value>
                <elementReference>caseRecord.Cultural_Compliance_Capability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cultural_Safety_Capability__c</field>
            <value>
                <elementReference>caseRecord.Cultural_Safety_Capability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error occurred while in flow &quot;Cultural Competency Approval&quot; while attempting to approve Case {!caseRecord. CaseNumber} with Id {!caseRecord.Id}</stringValue>
        </value>
    </variables>
</Flow>
